.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #eeee9b, #efb0ef 48%, #b1d8f7);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  
}.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input 
{
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius:10px;
  border: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #a07dea;

}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}